html{
  background-color: #808080;
  color: white;
  font-family: Courier, monospace;
  background-image: url(../images/worldatlas.png);
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  text-align: center;
  background-color: #4d4d4d;
  border-radius: 5%;
  opacity: 0.8;
  width: 90%;
  margin: auto;
  max-width: 800px;
}

header {
  position: relative;
  top: 20px;
  border-bottom:
}

h1 {
  font-size: 300%;
}

label {
  font-size: 150%;
  color: #66ffff;
}

.form-group {
  text-align:left;
  width: 85%;
  margin: 5px auto 5px auto;
  padding: 5px;
}

#title {
  padding-top: 10px;
  color: #66ffff;
}

#description {
  font-size: 75%;
  position: relative;
  bottom: 20px;
}

#area-label {
  text-align: left;
  display: block;
}

#haiku-area {
  /*margin: 0 auto;
  display: block;*/
  width: 70%;
  height: 6em;
}

#submit-label {
  color: white;
  font-size: 1em;
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: -20px;
}

#submit {
  margin: 10px auto;
  display: block;
  width: 70%;
  height: 30px;
  background-color: #66ffff;
}
#submit:hover {
  background-color: #00b3b3;
}
